In [3]:
import pandas as pf
import yfinance as yf

In [4]:
vxus = yf.Ticker("VXUS")

In [7]:
vxus.info

{'phone': '800-523-1036',
 'longBusinessSummary': 'The manager employs an indexing investment approach designed to track the performance of the FTSE Global All Cap ex US Index, a float-adjusted market-capitalization-weighted index designed to measure equity market performance of companies located in developed and emerging markets, excluding the United States. The fund invests all, or substantially all, of its assets in the common stocks included in its target index.',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 59.83,
 'open': 59.28,
 'dayLow': 58.695,
 'dayHigh': 59.395,
 'regularMarketPreviousClose': 59.83,
 'regularMarketOpen': 59.28,
 'regularMarketDayLow': 58.695,
 'regularMarketDayHigh': 59.395,
 'trailingPE': 12.856784,
 'volume': 3892566,
 'regularMarketVolume': 3892566,
 'averageVolume': 3290333,
 'averageVolume10days': 2986140,
 'averageDailyVolume10Day': 2986140,
 'bid': 58.75,
 'ask': 58.79,
 'bidSize': 100,
 'askSize': 100,
 'yield': 0.033,
 'totalAssets': 424752939008,
 'fiftyTwoWeekLow': 50.95,
 'fiftyTwoWeekHigh': 60.7,
 'fiftyDayAverage': 59.1032,
 'twoHundredDayAverage': 56.3655,
 'navPrice': 58.8,
 'currency': 'USD',
 'category': 'Foreign Large Blend',
 'ytdReturn': 0.018124599,
 'beta3Year': 1.02,
 'fundFamily': 'Vanguard',
 'fundInceptionDate': 1296000000,
 'legalType': 'Exchange Traded Fund',
 'threeYearAverageReturn': 0.0052599,
 'fiveYearAverageReturn': 0.0511233,
 'exchange': 'NGM',
 'quoteType': 'ETF',
 'symbol': 'VXUS',
 'underlyingSymbol': 'VXUS',
 'shortName': 'Vanguard Total International St',
 'longName': 'Vanguard Total International Stock Index Fund ETF Shares',
 'firstTradeDateEpochUtc': 1296225000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '22bb70bd-8cb6-3888-bfe8-dfaab2c008e6',
 'messageBoardId': 'finmb_118888015',
 'gmtOffSetMilliseconds': -14400000,
 'trailingPegRatio': None}

In [8]:
hist_vxus = vxus.history(period="max")
hist_vxus

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2011-01-28 00:00:00-05:00,33.843633,36.385117,33.296131,33.343449,40800,0.0,0.0,0.0
2011-01-31 00:00:00-05:00,33.627339,33.796320,33.546228,33.715210,46200,0.0,0.0,0.0
2011-02-01 00:00:00-05:00,34.215393,34.438450,33.897709,34.438450,26300,0.0,0.0,0.0
2011-02-02 00:00:00-05:00,34.472253,34.472253,34.161327,34.262714,47700,0.0,0.0,0.0
2011-02-03 00:00:00-05:00,34.465490,34.465490,34.039656,34.323544,51100,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-04-08 00:00:00-04:00,60.349998,60.430000,60.230000,60.310001,2892000,0.0,0.0,0.0
2024-04-09 00:00:00-04:00,60.630001,60.700001,60.180000,60.470001,3960400,0.0,0.0,0.0
2024-04-10 00:00:00-04:00,59.630001,59.869999,59.419998,59.619999,2921600,0.0,0.0,0.0
2024-04-11 00:00:00-04:00,59.860001,59.900002,59.279999,59.830002,2378700,0.0,0.0,0.0
2024-04-12 00:00:00-04:00,59.279999,59.410000,58.700001,58.790001,3892300,0.0,0.0,0.0

### Dividendos

In [11]:
vxus.actions.tail()

                           Dividends  Stock Splits  Capital Gains
Date
2023-03-20 00:00:00-04:00      0.121           0.0            0.0
2023-06-20 00:00:00-04:00      0.618           0.0            0.0
2023-09-18 00:00:00-04:00      0.295           0.0            0.0
2023-12-18 00:00:00-05:00      0.847           0.0            0.0
2024-03-15 00:00:00-04:00      0.224           0.0            0.0

### 
### Pegando uma lista especifica

In [26]:
ticker_list = ["VTI", "XSVM", "QVAL", "VXUS", "VWO", "AVDV"]

stock_list = yf.download(tickers=ticker_list, period="1d", start="2020-01-01")
stock_list.head()

[*********************100%%**********************]  6 of 6 completed

Price       Adj Close                                                          \
Ticker           AVDV       QVAL         VTI        VWO       VXUS       XSVM
Date
2020-01-02  50.156918  28.250637  154.415085  40.225643  49.788101  31.774164
2020-01-03  49.612473  27.954142  153.432343  39.510021  49.178020  31.558138
2020-01-06  49.703960  27.972670  153.956467  39.439342  49.248753  31.473610
2020-01-07  49.686020  28.015287  153.591400  39.421665  49.160328  31.173052
2020-01-08  49.479725  28.157976  154.349533  39.598370  49.248753  31.257584

Price           Close                                    ...        Open  \
Ticker           AVDV       QVAL         VTI        VWO  ...         VTI
Date                                                     ...
2020-01-02  55.919998  30.490000  164.979996  45.529999  ...  164.679993
2020-01-03  55.313000  30.170000  163.929993  44.720001  ...  163.289993
2020-01-06  55.415001  30.190001  164.490005  44.639999  ...  162.919998
2020-01-07  55.395000  30.236000  164.100006  44.619999  ...  164.270004
2020-01-08  55.165001  30.389999  164.910004  44.820000  ...  164.199997

Price                                       Volume                            \
Ticker            VWO       VXUS       XSVM   AVDV   QVAL      VTI       VWO
Date
2020-01-02  45.070000  56.169998  34.160000   5200  29000  3291100  13427400
2020-01-03  44.830002  55.590000  33.520000   3500  38500  3625400  12501600
2020-01-06  44.400002  55.419998  33.529999   7900   9700  6813800  10315100
2020-01-07  44.540001  55.740002  33.250000   4300  50300  2498400  11859300
2020-01-08  44.509998  55.590000  33.090000   2700  44000  4244800  11113700

Price
Ticker         VXUS   XSVM
Date
2020-01-02  2017900  19800
2020-01-03  2140200  20700
2020-01-06  2119900  13800
2020-01-07  1987300  13500
2020-01-08  1824400  17400

[5 rows x 36 columns]

In [35]:
stock_list_close = stock_list["Close"]
stock_list_close.reset_index(inplace=True)
#stock_list_close.drop(columns="Ticker")
stock_list_close.tail(10)

Ticker,Date,AVDV,QVAL,VTI,VWO,VXUS,XSVM
1067,2024-04-01,65.500000,44.779999,259.700012,41.939999,60.189999,56.540001
1068,2024-04-02,65.250000,44.419998,257.299988,42.080002,59.939999,55.720001
1069,2024-04-03,66.010002,44.810001,257.700012,42.139999,60.200001,56.369999
1070,2024-04-04,65.570000,44.349998,254.610001,41.990002,59.790001,55.840000
1071,2024-04-05,65.900002,44.509998,257.179993,42.119999,60.009998,55.990002
1072,2024-04-08,66.440002,44.430000,257.480011,42.380001,60.310001,56.200001
1073,2024-04-09,66.470001,44.570000,257.850006,42.750000,60.470001,56.070000
1074,2024-04-10,65.680000,43.945000,254.970001,42.279999,59.619999,54.689999
1075,2024-04-11,65.860001,43.980000,256.700012,42.419998,59.830002,54.910000
1076,2024-04-12,65.019997,43.410000,253.000000,41.599998,58.790001,54.130001

In [33]:
invest_dates = {"2022-01-03":10, "2023-01-03":15, "2024-01-03":10}

0       55.919998
1       55.313000
2       55.415001
3       55.395000
4       55.165001
          ...
1072    66.440002
1073    66.470001
1074    65.680000
1075    65.860001
1076    65.019997
Name: AVDV, Length: 1077, dtype: float64